@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&family=Work+Sans:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體;
}

#menu {
  background-image: url(./img/menu.png);
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 1024px) {
  #menu {
    display: block;
    margin: 0 15px 0 auto;
  }
}

@media screen and (max-width: 767px) {
  #menu {
    width: 40px;
    height: 40px;
    background-size: cover;
  }
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% auto 15%;
      grid-template-columns: 15% auto 15%;
  text-align: center;
  background: #888;
  color: #e9e9e9;
  padding: 30px;
  color: #e9e9e9;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  opacity: 0.9;
  z-index: 10;
}

@media screen and (max-width: 1024px) {
  nav {
    -ms-grid-columns: 95% 0;
        grid-template-columns: 95% 0;
  }
}

@media screen and (max-width: 767px) {
  nav {
    background-size: cover;
    margin: 0 20px 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  nav #link {
    display: none;
  }
}

nav #link a {
  color: #e9e9e9;
  text-decoration: none;
  padding: 0 30px;
  display: inline-block;
  font-size: 16px;
}

nav #link a:hover {
  color: #fac0c0;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (max-width: 1024px) {
  nav #social {
    display: none;
  }
}

nav #social a {
  -webkit-transform: 0.5s;
          transform: 0.5s;
  padding: 0 10px;
}

nav #social a:hover {
  -webkit-filter: invert(94%) sepia(36%) saturate(772%) hue-rotate(290deg) brightness(86%) contrast(147%);
          filter: invert(94%) sepia(36%) saturate(772%) hue-rotate(290deg) brightness(86%) contrast(147%);
}

nav #social img {
  width: 25px;
}

.logo {
  font-family: "Ubuntu", sans-serif;
  font-family: "Work Sans", sans-serif;
  font-size: 32px !important;
}

.logo:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
}

#banner .slick-prev {
  left: 50px;
  z-index: 2;
}

#banner .slick-next {
  right: 50px;
  z-index: 2;
}

#banner .slick-dots {
  bottom: 50px;
  -webkit-filter: invert(97%) sepia(1%) saturate(915%) hue-rotate(197deg) brightness(110%) contrast(83%);
          filter: invert(97%) sepia(1%) saturate(915%) hue-rotate(197deg) brightness(110%) contrast(83%);
  z-index: 2;
}

#banner .banner1 {
  background-image: url(./img/banner1.jpg);
  height: 100vh;
}

@media screen and (max-width: 1024px) {
  #banner .banner1 {
    background-size: cover;
  }
}

#banner .banner1:focus {
  outline: none;
}

#banner .banner1 h1 {
  margin-top: 10px;
  padding: 100px 0 20px;
  text-align: center;
  font-size: 50px;
  color: #e9e9e9;
  text-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1024px) {
  #banner .banner1 h1 {
    padding: 500px 0 50px 20px;
  }
}

@media screen and (max-width: 767px) {
  #banner .banner1 h1 {
    padding: 250px 0 50px 20px;
    font-size: 36px;
  }
}

#banner .banner1 h2 {
  text-align: center;
  font-size: 26px;
  color: #e9e9e9;
  text-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  #banner .banner1 h2 {
    font-size: 20px;
    width: 60%;
    margin: 0 auto;
    line-height: 1.5;
  }
}

#banner .banner2 {
  background-image: url(./img/banner2.jpg);
  height: 100vh;
}

@media screen and (max-width: 1024px) {
  #banner .banner2 {
    background-size: cover;
  }
}

#banner .banner2:focus {
  outline: none;
}

#banner .banner2 h1 {
  margin-top: 10px;
  padding: 100px 0 20px;
  text-align: center;
  font-size: 50px;
  color: #e9e9e9;
  text-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1024px) {
  #banner .banner2 h1 {
    padding: 500px 0 50px 20px;
  }
}

@media screen and (max-width: 767px) {
  #banner .banner2 h1 {
    padding: 250px 0 50px 20px;
    font-size: 36px;
  }
}

#banner .banner2 h2 {
  text-align: center;
  font-size: 26px;
  color: #e9e9e9;
  text-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  #banner .banner2 h2 {
    font-size: 20px;
    width: 60%;
    margin: 0 auto;
    line-height: 1.5;
  }
}

#banner .banner3 {
  background-image: url(./img/banner3.jpg);
  height: 100vh;
}

@media screen and (max-width: 1024px) {
  #banner .banner3 {
    background-size: cover;
  }
}

#banner .banner3:focus {
  outline: none;
}

#banner .banner3 h1 {
  margin-top: 10px;
  padding: 100px 0 20px;
  text-align: center;
  font-size: 50px;
  color: #e9e9e9;
  text-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1024px) {
  #banner .banner3 h1 {
    padding: 500px 0 50px 20px;
  }
}

@media screen and (max-width: 767px) {
  #banner .banner3 h1 {
    padding: 250px 0 50px 20px;
    font-size: 36px;
  }
}

#banner .banner3 h2 {
  text-align: center;
  font-size: 26px;
  color: #e9e9e9;
  text-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  #banner .banner3 h2 {
    font-size: 20px;
    width: 60%;
    margin: 0 auto;
    line-height: 1.5;
  }
}

#news {
  width: 1280px;
  margin: 30px auto 0;
}

@media screen and (max-width: 1024px) {
  #news {
    width: 100%;
    padding: 50px 20px;
  }
}

#news:focus {
  outline: none;
}

#news #news-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

@media screen and (max-width: 767px) {
  #news #news-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 40px;
  }
}

#news .news-card {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

#news img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

#news h3 {
  text-align: center;
  padding: 10px;
  margin: 20px 0;
}

@media screen and (max-width: 1024px) {
  #news h3 {
    font-size: 26px;
  }
}

#news p {
  line-height: 1.5;
  font-size: 14px;
  padding: 10px;
  margin: 15px 0;
}

@media screen and (max-width: 1024px) {
  #news p {
    font-size: 20px;
  }
}

#works {
  width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  #works {
    width: 100%;
  }
}

#works .works-card:focus {
  outline: none;
}

#works img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}

#works h2 {
  text-align: center;
  padding: 15px;
  color: #fac0c0;
}

form {
  width: 1280px;
  margin: 0 auto;
}

form input {
  width: 40%;
  padding: 10px 5px;
}

form input::-webkit-input-placeholder {
  color: #888;
  font-size: 12px;
}

form input:-ms-input-placeholder {
  color: #888;
  font-size: 12px;
}

form input::-ms-input-placeholder {
  color: #888;
  font-size: 12px;
}

form input::placeholder {
  color: #888;
  font-size: 12px;
}

form input[name="user-email"] {
  float: right;
}

form textarea {
  width: 100%;
  height: 300px;
  margin: 30px 0;
}

form textarea::-webkit-input-placeholder {
  color: #888;
  font-size: 12px;
}

form textarea:-ms-input-placeholder {
  color: #888;
  font-size: 12px;
}

form textarea::-ms-input-placeholder {
  color: #888;
  font-size: 12px;
}

form textarea::placeholder {
  color: #888;
  font-size: 12px;
}

.btn {
  background: #fac0c0;
  color: #fff;
  padding: 15px 30px;
  display: block;
  margin: 15px auto 15px;
  width: 80%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover {
  background: #fff;
  color: #fac0c0;
  border: 1px solid #fac0c0;
}

.title-big {
  text-align: center;
  padding: 10px 0 30px;
  font-size: 30px;
  font-weight: 900;
  margin-top: 30px;
}
/*# sourceMappingURL=style.css.map */