@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&family=Work+Sans:wght@600&display=swap");

$color-gray: #888;
$color-white: #e9e9e9;
$color-pink: rgb(250, 192, 192);
$box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
$tablet: 1024px;
$mobile: 767px;

* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
}

#menu {
    background-image: url(./img/menu.png);
    width: 32px;
    height: 32px;
    // 顯示成手指頭
    cursor: pointer;
    display: none;

    @media screen and (max-width: $tablet) {
        display: block;
        margin: 0 15px 0 auto;
    }
    @media screen and (max-width: $mobile) {
        width: 40px;
        height: 40px;
        background-size: cover;
    }
}

nav {
    @media screen and (max-width: $tablet) {
        grid-template-columns: 95% 0;
    }

    @media screen and (max-width: $mobile) {
        background-size: cover;
        margin: 0 20px 0 auto;
    }

    display: grid;
    grid-template-columns: 15% auto 15%;
    text-align: center;
    background: $color-gray;
    color: $color-white;
    padding: 30px 0;
    color: $color-white;
    box-shadow: $box-shadow;
    position: fixed;
    width: 100%;
    opacity: 0.9;
    z-index: 10;

    #link {
        @media screen and (max-width: $tablet) {
            display: none;
        }

        a {
            color: $color-white;
            text-decoration: none;
            padding: 0 30px;
            display: inline-block;
            font-size: 16px;

            &:hover {
                color: $color-pink;
                transform: scale(1.2);
            }
        }
    }

    #social {
        @media screen and (max-width: $tablet) {
            display: none;
        }

        a {
            transform: 0.5s;
            padding: 0 10px;

            &:hover {
                filter: invert(94%) sepia(36%) saturate(772%) hue-rotate(290deg) brightness(86%) contrast(147%);
            }
        }

        img {
            width: 25px;
        }
    }
}

.logo {
    font-family: "Ubuntu", sans-serif;
    font-family: "Work Sans", sans-serif;
    font-size: 32px !important;

    &:hover {
        transform: scale(2);
    }
}

#banner {
    .slick-prev {
        left: 50px;
        z-index: 2;
    }
    .slick-next {
        right: 50px;
        z-index: 2;
    }
    .slick-dots {
        bottom: 50px;
        filter: invert(97%) sepia(1%) saturate(915%) hue-rotate(197deg) brightness(110%) contrast(83%);
        z-index: 2;
    }

    @for $i from 1 through 3 {
        .banner#{$i} {
            background-image: url(./img/banner#{$i}.jpg);
            height: 100vh;
            // 調整位置
            // background-position: -10px -50px;

            @media screen and (max-width: $tablet) {
                background-size: cover;
            }

            &:focus {
                outline: none;
            }

            h1 {
                @media screen and (max-width: $tablet) {
                    padding: 500px 0 50px 20px;
                }
                @media screen and (max-width: $mobile) {
                    padding: 250px 0 50px 20px;
                    font-size: 36px;
                }
                margin-top: 10px;
                padding: 100px 0 20px;
                text-align: center;
                font-size: 50px;
                color: $color-white;
                text-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
            }

            h2 {
                @media screen and (max-width: $mobile) {
                    font-size: 20px;
                    width: 60%;
                    margin: 0 auto;
                    line-height: 1.5;
                }
                text-align: center;
                font-size: 26px;
                color: $color-white;
                text-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
            }
        }
    }
}

#news {
    width: 1280px;
    margin: 30px auto 0;
    @media screen and (max-width: $tablet) {
        width: 100%;
        padding: 50px 0;
    }

    &:focus {
        outline: none;
    }

    #news-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 25px;
        @media screen and (max-width: $mobile) {
            grid-template-columns: 1fr;
            grid-gap: 40px;
        }
    }

    .news-card {
        box-shadow: $box-shadow;
    }

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    h3 {
        text-align: center;
        padding: 10px;
        margin: 20px 0;
        @media screen and (max-width: $tablet) {
            font-size: 26px;
        }
    }

    p {
        line-height: 1.5;
        font-size: 14px;
        padding: 10px;
        margin: 15px 0;
        @media screen and (max-width: $tablet) {
            font-size: 20px;
        }
    }
}

#works {
    width: 1280px;
    margin: 0 auto;
    overflow: hidden;

    @media screen and (max-width: $tablet) {
        width: 100%;
    }

    .works-card {
        &:focus {
            outline: none;
        }
    }

    img {
        width: 350px;
        height: 350px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto;

        @media screen and (max-width: $tablet) {
            width: 300px;
            height: 300px;
        }
    }

    h2 {
        text-align: center;
        padding: 15px;
        color: $color-pink;
    }
}

form {
    width: 1280px;
    margin: 0 auto;
    @media screen and (max-width: $tablet) {
        width: 100%;
        padding: 20px 0 100px;
    }

    input {
        width: 45%;
        padding: 10px 0;
        @media screen and (max-width: $tablet) {
            width: 98%;
            padding: 15px 0;
            margin-bottom: 20px;
        }

        &::placeholder {
            color: $color-gray;
            font-size: 12px;
        }
    }

    input[name="user-email"] {
        float: right;
    }

    textarea {
        width: 100%;
        height: 300px;
        margin: 30px 0;
        @media screen and (max-width: $tablet) {
            width: 98%;
        }

        &::placeholder {
            color: $color-gray;
            font-size: 12px;
        }
    }
}

// 統一樣式

.btn {
    background: rgb(250, 192, 192);
    color: #fff;
    padding: 15px 30px;
    display: block;
    margin: 15px auto 15px;
    width: 80%;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    transition: 0.5s;

    &:hover {
        background: #fff;
        color: rgb(250, 192, 192);
        border: 1px solid rgb(250, 192, 192);
    }
}

.title-big {
    text-align: center;
    padding: 10px 0 30px;
    font-size: 30px;
    font-weight: 900;
    margin-top: 30px;
}
